<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<h1>{{ page.title }}</h1>
		<p class="meta">{{ page.date | date_to_string }}</p>

			
		<div class="-row">
			<div class="-col4 padded">
				<a class="post">
					{{ content }}
				</a>
			</div>
		</div>
		
		<body>
			<img src="https://i.imgur.com/6oIAIfl.png">
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:patrick93205@yahoo.com.tw">Patrick Yihong Wu's Email</a></li>
	        		<li><a href="https://github.com/patriciawoolf">github.com/patriciawoolf</a></li>
				<li><a href="https://www.linkedin.com/in/yihong-patrick-wu-8818a9151/">My Linkedin</li>
				<li><a href="https://github.com/">This website is powered by GitHub.</li>
				<p align="center"><button><a href="http://jmcglone.com/guides/github-pages/">Learn how to set up a website</button></p>
				
			</ul>
			
		</body>
	</html>
