<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:patrick93205@yahoo.com.tw">Patrick Yihong Wu's Email</a></li>
	        		<li><a href="https://github.com/patriciawoolf">github.com/patriciawoolf</a></li>
				<li><a href="https://www.linkedin.com/in/yihong-patrick-wu-8818a9151/">My Linkedin</li>
				<li>This website is powered by<a href="https://github.com/">GitHub</li>
			</ul>
			
		</body>
	</html>
